<article class="card {{post_class}}{{#unless feature_image}} no-image{{/unless}}">
    {{#if feature_image}}
        <a class="card-image" href="{{url}}">
            <figure class="image">
                {{#if primary_tag}}
                    <a class="tag is-primary image-tag-overlay" href="{{primary_tag.name}}">{{primary_tag.name}}</a>
                {{/if}}
                <img src="{{feature_image}}" alt="Placeholder image">
            </figure>
        </a>
    {{else}}
        <div class="card-image">
            <figure class="image">
                {{#if primary_tag}}
                    <a class="tag is-primary image-tag" href="{{primary_tag.name}}">{{primary_tag.name}}</a>
                {{/if}}
            </figure>
        </div>
    {{/if}}

    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4">
                    {{title}}
                </p>
                {{#foreach authors}}
                    <div class="control">
                        <div class="tags has-addons">
                            <span class="tag is-dark">Author</span>
                            <span class="tag is-primary">{{name}}</span>
                        </div>
                    </div>
                {{/foreach}}
            </div>
        </div>

        <div class="content">
            {{excerpt words="33"}}
            <hr>
            {{#if tags}}
                <ul>
                    {{#foreach tags}}
                        <a class="tag" href="{{url}}">{{name}}</a>
                    {{/foreach}}
                </ul>
            {{/if}}
            <br>
            <small>{{reading_time}}</small>
        </div>
    </div>
</article>